@defer (when DocumentIsReady){
    <app-navbar></app-navbar>

<div class="page-title-area item-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Service details</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Service details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <!-- Creation site web App Web -->
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/services-details/creation-site-web-app-web">
                            <img src="assets/img/blog/refonte-site-internet.png" alt="image">
                        </a>
                    </div>
                    <div class="single-blog-item">
                        <div class="/services-details/creation-site-web-app-web">
                            <h3>
                                <a routerLink="/services-details/creation-site-web-app-web">Création d'Applications Web et Sites
                                    Web</a>
                            </h3>
                            <p>
                                Notre équipe de développeurs expérimentés est prête à transformer votre vision en
                                réalité avec des sites web et des applications web sur mesure.
                            </p>
                            <div class="blog-btn">
                                <a routerLink="/services-details/creation-site-web-app-web" class="blog-btn-one">Read More <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="test" class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/services-details/seo">
                            <img src="assets/img/blog/SEO.png" alt="image">
                        </a>
                    </div>
                    <div class="single-blog-item">
                        <div class="blog-content">
                            <h3><a routerLink="/services-details/seo">Optimisation SEO</a></h3>
                            <p>
                                Améliorez la visibilité de votre site web dans les moteurs de recherche et attirez
                                davantage de visiteurs qualifiés grâce à notre expertise en optimisation SEO.
                            </p>
                            <div class="blog-btn">
                                <a routerLink="/services-details/seo" class="blog-btn-one">Read More <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/services-details/creation-API-REST-FULL">
                            <img src="assets/img/blog/1643985338232.jpeg" alt="image">
                        </a>
                    </div>
                    <div class="single-blog-item">

                        <div class="blog-content">
                            <h3><a routerLink="/services-details/creation-API-REST-FULL">Creation d'API REST FULL</a></h3>
                            <p>
                                Simplifiez l'intégration de vos systèmes et services avec des interfaces de
                                programmation d'applications (API) puissantes.
                            </p>
                            <div class="blog-btn">
                                <a routerLink="/services-details/creation-API-REST-FULL" class="blog-btn-one">Read More <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Refonte  -->
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/services-details/refonte-site-web">
                            <img src="assets/img/blog/refonte-site-internet.png" alt="image">
                        </a>
                    </div>
                    <div class="single-blog-item">

                        <div class="blog-content">
                            <h3>
                                <a routerLink="/services-details/refonte-site-web">Refonte d'Applications Web et Sites Web</a>
                            </h3>
                            <p>

                                Refonte d'Applications Web et Sites Web
                                Modernisez et améliorez votre présence en ligne avec l'aide de notre équipe de
                                spécialistes pour donner une nouvelle vie à votre site web ou à votre application
                                existante.
                            </p>
                            <div class="blog-btn">
                                <a routerLink="/services-details/refonte-site-web" class="blog-btn-one">Read More <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/services-details/mise-a-jour-fonctionnalite">
                            <img src="assets/img/blog/mise-a-jour.png" alt="image">
                        </a>
                    </div>
                    <div class="single-blog-item">

                        <div class="blog-content">
                            <h3>
                                <a routerLink="/services-details/mise-a-jour-fonctionnalite">Mise a jour et fonctionnalité</a>
                            </h3>
                            <p>
                                Gardez votre site web ou votre application à jour avec les dernières technologies en
                                assurant la maintenance et en ajoutant de nouvelles fonctionnalités.
                            </p>
                            <div class="blog-btn">
                                <a routerLink="/services-details/mise-a-jour-fonctionnalite" class="blog-btn-one">Read More <i
                                        class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <a routerLink="/services-details/creation-dashboard">
                            <img src="assets/img/blog/Blog-thumbnail.png" alt="image">
                        </a>
                    </div>
                    <div class="single-blog-item">
                        <div class="blog-content">
                            <h3>
                                <a routerLink="/services-details/creation-dashboard">Création de Dashboard</a>
                            </h3>
                            <p>
                                Visualisez vos données clés en temps réel grâce à des tableaux de bord personnalisés et
                                obtenez des insights précieux pour prendre des décisions éclairées.
                            </p>
                            <div class="blog-btn">
                                <div class="blog-btn">
                                    <a routerLink="/services-details/creation-dashboard" class="blog-btn-one">Read More <i
                                            class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a routerLink="/blog-grid" class="prev page-numbers"><i class="fas fa-angle-double-left"></i></a>
                    <a routerLink="/blog-grid" class="page-numbers">1</a>
                    <span class="page-numbers current" aria-current="page">2</span>
                    <a routerLink="/blog-grid" class="page-numbers">3</a>
                    <a routerLink="/blog-grid" class="page-numbers">4</a>
                    <a routerLink="/blog-grid" class="next page-numbers"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div> -->
        </div>
    </div>
</section>
}
@loading (minimum 2s) {
    <app-loader></app-loader>
}
@error {
    <app-error-chargement></app-error-chargement>
}