@defer  {
    <app-navbar></app-navbar>

    <div class="page-title-area item-bg3">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h1 class="color-white">Détails de Nos Services de Développement de Site Web / App Web</h1>
                        <ul>
                            <li><a routerLink="/">Accueil</a></li>
                            <li>Détails des Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="services-details-area ptb-100">
        <div class="container">
            <div class="services-details-overview">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="services-details-desc">
                            <h2>Services de Maintenance & Mise à Jour</h2>
                            <p>Assurez la continuité de votre site web ou de votre application en les maintenant à jour avec les dernières technologies et fonctionnalités. Notre équipe est là pour garantir leur performance optimale.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="services-details-overview">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="services-details-desc">
                            <h2>Services d'Assistance et de Conseil Reforge</h2>
                            <p>Notre équipe d'experts est disponible pour vous conseiller et vous aider à améliorer votre site web ou votre application en les remodelant pour répondre à vos nouveaux besoins et objectifs. Obtenez des solutions sur mesure pour votre entreprise.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="services-details-overview">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <h2>Services d'Optimisation SEO (Search Engine Optimization)</h2>
                            <p>Maximisez la visibilité en ligne de votre site web ou de votre application en optimisant leur classement dans les moteurs de recherche. Attirez un public qualifié grâce à notre expertise en SEO.</p>
                        </div>
                    </div>
                </div>
        
        </div>
    </section>
    
} @loading(minimum 1s) {
    <app-loader></app-loader>
}