@defer {
<app-navbar></app-navbar>
<div class="main-banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h1>Création d'applications Web et de Sites Internet</h1>
                            <p class="w-100">
                                Votre application web ou votre site internet peuvent devenir l'un de vos atouts les plus
                                précieux pour votre entreprise. Ils représentent une référence de vos services,
                                regroupent vos contacts, et servent d'outil de communication essentiel.
                            </p>
                            <p>
                                Souhaitez-vous une application ou un site web sur mesure qui répond spécifiquement à vos
                                besoins et vos préférences ? Aimeriez-vous améliorer votre visibilité grâce au
                                référencement naturel (SEO) pour stimuler votre activité sur les moteurs de recherche ?
                                De la phase de création initiale aux mises à jour et à la mise en ligne finale, vous
                                bénéficierez d'un accompagnement personnalisé à chaque étape du développement de votre
                                projet. Découvrez nos offres.
                            </p>
                            <div class="banner-btn">
                                <a class="default-btn-one" routerLink="/about">À propos<span></span>
                                </a>
                                <a class="default-btn" routerLink="/contact">Contactez-nous
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="creative-shape">
        <img src="assets/img/main-banner-shape/1.png" alt="image">
    </div>
    <div class="shape-img1">
        <img src="assets/img/main-banner-shape/2.png" alt="image">
    </div>
    <div class="shape-img2">
        <img src="assets/img/main-banner-shape/3.png" alt="image">
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<section class="about-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/home-one/about.png" width="80%" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h3>À Propos</h3>
                    <p>
                        Notre équipe de développeurs spécialisés dans la conception de sites web est prête à mettre à
                        votre disposition sa créativité, son savoir-faire, ses connaissances et sa maîtrise des
                        dernières techniques.
                    </p>
                    <ul class="about-list">
                        <li>
                            <i class="flaticon-tick"></i>Création d'applications web / Sites web
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>Référencement naturel (SEO)
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>Création d'API
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>Refonte d'applications web / Sites web
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>Tableau de bord (Dashboard)
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>Déploiement
                        </li>
                    </ul>
                    <div class="about-btn">
                        <a class="default-btn" routerLink="/about">En savoir plus<span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- La suite du code HTML reste inchangée. -->


<section class="data-service-section pb-100">
    <div class="container">
        <div class="section-title">
            <!-- <span>Our Services</span> -->
            <h3>Nos Services</h3>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="data-services-item">
                    <div class="single-data-service-box">
                        <div class="icon">
                            <i class="flaticon-big-data"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">Site web / App web<i class="flaticon-right"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="single-data-service-box">
                        <div class="icon">
                            <i class="flaticon-science"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">Maintenance & Mise a jour<i class="flaticon-right"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="single-data-service-box">
                        <div class="icon">
                            <i class="flaticon-document"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">Assistance et conseil<i class="flaticon-right"></i>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="data-service-image">
                    <img src="assets/img/data-service.png" alt="image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="data-services-item">
                    <div class="single-data-service-box">
                        <div class="icon">
                            <i class="flaticon-data-analytics"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">Reforge<i class="flaticon-right"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="single-data-service-box">
                        <div class="icon">
                            <i class="flaticon-chart"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">SEO (search engine origin)<i class="flaticon-right"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="single-data-service-box">
                        <div class="icon">
                            <i class="flaticon-data"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">Gestion de base de données<i class="flaticon-right"></i>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area ptb-100">
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section class="tab-section ptb-100">
    <div class="container">
        <div class="tab solutions-list-tab">
            <ul class="tabs">
                <li>
                    <a href="#">
                        <span>Création app / site Web</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Reforge</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Referencement naturelle</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Assistance et conseil</span>
                    </a>
                </li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Site web / application web</h3>
                                <p>
                                    Avez-vous déjà eu une idée qui vous semblait géniale ou un projet qui vous trotte
                                    dans la tête ? Que se soit révolutionnaire dans un domaine, dans le but de résoudre
                                    un problème spécifique ou un concept innovant qui pourrait améliorer la vie de
                                    certains individus ou bien être une expérience en ligne exceptionnelle ?
                                    Pourquoi ne pas les réaliser dès à présent? Ne la garder plus pour vous et présentez
                                    là nous sans plus attendre. Nous sommes là pour la faire naître et vivre avec vous.
                                    Nous mettrons toutes les technologies web les plus récentes en œuvre pour garantir
                                    qu’elle soit adaptative et réactive.
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>Écoute Active
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Personnalisation
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Test et Amélioration
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Mise a jour des technologies
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/tab-solution.png" width="100%" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Reforge de votre site web</h3>
                                <p>
                                    Êtes-vous propriétaire d'un site web vieillissant, dépassé ou non fonctionnel ?
                                    <br />
                                    Nous comprenons que votre site web est la vitrine de votre entreprise en ligne, et
                                    il est essentiel qu'il reflète une image professionnelle, qu'il soit fonctionnel et
                                    qu'il offre une expérience utilisateur optimale. Cependant, avec les avancées
                                    constantes dans le monde numérique, les sites web peuvent rapidement devenir
                                    obsolètes.
                                    C'est là que nous intervenons. Notre équipe talentueuse de concepteurs web, de
                                    développeurs et d'experts en expérience utilisateur est prête à donner une nouvelle
                                    vie à votre site web
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>Modernisation du Design
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Optimisation de la Performance
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Mise à Jour du Contenu
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Fonctionnalités Améliorées
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>SEO Optimisé
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/tab-solution.png" width="100%" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Referencement naturel (SEO)</h3>
                                <p>
                                    Le référencement naturel est essentiel pour la réussite en ligne de votre
                                    entreprise. Il permet d'optimiser votre site web pour les moteurs de recherche tels
                                    que Google, Bing et Yahoo, ce qui signifie que votre site apparaîtra plus haut dans
                                    les résultats de recherche pertinents. Cela se traduit par une visibilité accrue,
                                    plus de trafic sur votre site web et, finalement, plus de clients.
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>Analyse Approfondie
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Optimisation On-Page
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Stratégie de Liens
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Amélioration Continue
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/tab-solution.png" width="100%" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Assistance et conseils</h3>
                                <p>
                                    Cherchez-vous une assistance et des conseils experts pour votre entreprise ? Nous
                                    sommes là pour vous aider à chaque étape du chemin. Nous croyons en l'importance de
                                    l'accompagnement personnalisé et de la réactivité pour répondre à vos besoins
                                    changeants.
                                    Lorsque vous choisissez notre équipe d'experts pour vous guider, vous choisissez une
                                    assistance qui va au-delà des simples conseils. Nous sommes à votre disposition pour
                                    vous conseiller, vous soutenir et, surtout, pour prendre en compte vos demandes de
                                    modifications.
                                </p>
                                <ul class="tab-list">
                                    <li>
                                        <i class="flaticon-tick-1"></i>Soutien Personnalisé
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Réactivité
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Mises à Jour Continues
                                    </li>
                                    <li>
                                        <i class="flaticon-tick-1"></i>Suivi des Résultats
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <img src="assets/img/tab-solution.png" width="100%" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-subscribe></app-subscribe>
<app-footer></app-footer>
} @loading(minimum 1s) {
<app-loader></app-loader>
}