$font-family: 'Open Sans', sans-serif;
$font-family2: 'Dosis', sans-serif;
$main-color: #00b0ee;
$optional-color: #3e57d0;
$white-color: #ffffff;
$black-color: #393953;
$paragraph-color: #737b9a;
$font-size: 15px;
$transition: .5s;